<ion-content [fullscreen]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <img src="https://images5.alphacoders.com/609/thumb-1920-609173.jpg">
      <ion-card-title>Dying a lot simulator 3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      When the link of fire is threatened, the bell tolls, unearthing the old Lords of Cinder from their graves...Aldrich, Saint of the Deep... Farron's Undead Legion, the Abyss Watchers... And the reclusive lord of the Profaned Capital, Yhorm the Giant
    </ion-card-content>
    <ion-item><ion-button fill="outline" slot="start" [routerLink]="['/list']">Go back</ion-button></ion-item>
  </ion-card>

</ion-content>